html,
body,
svg,
#root {
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Roboto Mono', monospace;
}

.tooltip {
  opacity: 0.9 !important;
  border-radius: 0 !important;
  line-height: 1.6;
}
